<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guo.mapper.MyOrderMapper">
    <select id="getOrderList" resultType="MyOrder">
        select * from ${orderTable}
    </select>
    <select id="getOrderById" parameterType="int" resultType="MyOrder">
        select * from ${orderTable} where order_id = #{id}
    </select>
    <insert id="addOrder" parameterType="MyOrder">
        insert into ${orderTable}
            (order_id,commodity_id,order_time)
            values
                   (#{order_id},#{commodity_id},#{order_time});
    </insert>
    <update id="updateOrder" parameterType="MyOrder">
        update ${orderTable}
        set
            order_id=#{order_id},
            commodity_id=#{commodity_id},
            order_time=#{order_time}
        where
              order_id=#{order_id};
    </update>
    <delete id="deleteOrderById" parameterType="int">
        delete
        from
             ${orderTable}
        where
              order_id=#{order_id};
    </delete>
    <insert id="addOrderByMap" parameterType="map">
        insert
        into
            ${orderTable}
            (order_id,commodity_id,order_time)
            values
                   (#{order_id},#{commodity_id},#{order_time});
    </insert>
    <select id="selectLike" resultType="MyOrder">
         select * from
                       ${orderTable}
         where order_id
                   like #{id}
    </select>
    <select id="selectLimit" parameterType="map" resultType="MyOrder">
        select * from ${orderTable} limit #{startIndex},#{pageSize}
    </select>



</mapper>


    